@import '../../themes/variable';
@import '../../base/components/component';

// Header
.header {
    position: relative;
    background-color: $bg-c1-dark;
    height: 50px;
    border: $bd-c1-dark;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                position: absolute;
                width: 116px;
                height: 32px;
                left: 24px;
                top: 10px;
            }
        }

        nav {
            a {
                img {}
            }

            span {
                color: $text-c1-light;
                font-size: $text-3xl;
                font-weight: $text-light;
                line-height: 36px;
            }

            a {
                padding: 0 10px;
                font-weight: $text-light;
                font-size: 16px;
                line-height: 19px;
                color: $text-c2-light;
                border: $bd-c1-dark;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

// Menu
.menu {
    height: 50px;

    nav {
        .container-fluid {
            .navbar-brand {
                position: absolute;
                left: 25px;
                top: 18px;
                height: 24px;
                width: 56px;
                font-size: $text-2xl;
                line-height: 24px;
            }
        }
    }

    .collapse {
        .navbar-nav {
            .nav-item {
                .one {
                    position: absolute;
                    left: 105px;
                    top: 16px;
                    width: 41px;
                    height: 24px;
                    font-size: $text-2xl;
                    font-weight: $text-light;
                    line-height: 24px;
                    color: $text-c1-dark;
                    opacity: 0.7;
                }

                .two {
                    position: absolute;
                    width: 70px;
                    height: 24px;
                    left: 183px;
                    top: 16px;
                    font-size: $text-2xl;
                    font-weight: $text-light;
                    line-height: 24px;
                    color: $text-c1-dark;
                    opacity: 0.7;

                }

                .three {
                    position: absolute;
                    width: 31px;
                    height: 24px;
                    left: 292px;
                    top: 16px;
                    font-size: $text-2xl;
                    font-weight: $text-light;
                    line-height: 24px;
                    color: $text-c1-dark;
                    opacity: 0.7;
                }

                .four {
                    position: absolute;
                    width: 52px;
                    height: 24px;
                    left: 363px;
                    top: 16px;
                    font-size: $text-2xl;
                    font-weight: $text-light;
                    line-height: 24px;
                    color: $text-c1-dark;
                    opacity: 0.7;
                }
            }
        }
    }
}


// Carousel
.carousel {
    position: relative;
    height: 530px;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url('/assets/img/image\ 6.png');

    .container {
        .slick_slider {
            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item-left {
                    img {}
                }

                .item-right {
                    h2 {
                        font-size: $text-4xl;
                        font-weight: $text-light;
                        line-height: 48px;
                        height: 51px;
                        width: 291px;
                    }

                    p {
                        width: 291px;
                        height: 51px;
                        font-size: $text-2xl;
                        font-weight: $text-light;
                        line-height: 24px;
                    }

                    button {
                        width: 150px;
                        height: 50px;
                        background: #F8B653;
                        border: none;
                    }
                }
            }


        }
    }
}

// slick
.slick-prev:before,
.slick-next:before {
    color: rgb(234, 40, 40);
    font-size: $text-3xl;
    background-color: transparent;

}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: rgb(198, 90, 90);
    font-size: 20px;
}

.slick-dots li button:before {
    color: gray;
    font-size: 20px;
}